fastapi
uvicorn[standard]
motor
strawberry-graphql[fastapi]
redis
pydantic
grpcio
grpcio-tools
aiohttp
PyJWT[crypto]
cryptography
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-pymongo
opentelemetry-instrumentation-redis
opentelemetry-exporter-jaeger
opentelemetry-exporter-prometheus
locust
pytest-asyncio
httpx
pytest-cov
flake8
black